.videoTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: white;
}

.channelTitle{
    padding: 0.8em 0em 0em 0em;
    color: #aaa;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.viewsAnfPublish{
    padding: 0.8em 0em 0em 0.2em;
    color:#aaa;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
}